/*===== VARIABLES CSS =====*/
:root{
  --header-height: 0rem;
  --font-semi: 600;
}
/*===== Color =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== fonts =====*/
:root{
  --body-font:  sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

*{
		box-sizing: border-box;
		
}

body{
  margin: var(--header-height) 1rem 0 1rem;
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--second-color);
  background-color: white;
}

.main-header >ul{
		background-color: white;
		height: 3.5rem;
		margin: 0.6rem 0 0 0;
		padding: 1rem;
		box-shadow: 0px 0px 3px  grey;
		border-radius: 0.2rem;
		
		display: flex;
		align-items: center;
		justify-content: flex-end;
		
}
.nav_item a {
  text-decoration: none;
  font-weight: 600;
  color: var(--second-color);
  
}
.nav_item a:hover{
		color: var(--first-color);
}

.nav_item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}
.nav_item {
  list-style: none;
  margin-right: 3rem;
}

ul>li>a{
		list-style:none;
		text-decoration: none;
}
.list>ul>li{
		list-style:none;
		text-decoration: none;
}

.content {
		max-width: 1024px;
		margin: 2rem 10rem 2rem 10rem;
		font-size: 1rem;
		font-weight: 500;
		color: black;
}

img{
		max-width: 80%;
        margin-left: 10%;
        margin-right: auto;
		height: 100%;
}

a{
		
		text-decoration: none;
}
.link a:link{
		color: var(--first-color);
}
.link a:visited{
		color: var(--first-color);
}
.link a:hover{
		color:#173b67;
;
}

.students>table{
    border: 5px solid black;
}
.students>table, th, td {
  border: 0px solid black;
  padding: 5px;
}


.students>table>tbody>tr:nth-child(even) {
  background-color: #D6EEEE;
}

.admin_nav>ul,.student_nav>ul{
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: flex-start;

}

#college_list{
		max-width: 100%;
        margin-left: 40%;
        margin-right: auto;
}

#form_body{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 1%;
  margin-bottom: 10%;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
}
