{% extends 'home_base.html' %}
{% block content %}
<h1 class="code-line" data-line-start=0 data-line-end=1><a id="Final_Project_0"></a>Final Project</h1>
<hr>
<h2 class="code-line" data-line-start=2 data-line-end=3><a id="Title_Sabaiko_MIS_2"></a>Title: Sabaiko MIS</h2>
<p class="has-line-data" data-line-start="4" data-line-end="6">In present, Different schools and colleges have to purchase software to maintain their MIS system or the information of their students.<br>
Also the information of the students are not available to the students themself because the software is used by schools or colleges only.</p>
<p class="has-line-data" data-line-start="7" data-line-end="8">What if the students wants to know:</p>
<ul>
<li class="has-line-data" data-line-start="8" data-line-end="9">His Due amounts</li>
<li class="has-line-data" data-line-start="9" data-line-end="11">whether his information recorded by college is right or wrong.</li>
</ul>
<p class="has-line-data" data-line-start="11" data-line-end="12">So to solve some these problems, Sabaiko MIS is web platform where different schools or colleges can create MIS system for them and students can login to this platform and access the features of MIS system of their respective colleges like checking due amounts, whether his information is recorded correctly or not and etc.</p>
<hr>
<p class="has-line-data" data-line-start="13" data-line-end="14">Lots of Features can be added to this project in MIS level like:</p>
<ul>
<li class="has-line-data" data-line-start="14" data-line-end="15">Student’s Attendance</li>
<li class="has-line-data" data-line-start="15" data-line-end="16">Student’s Results</li>
<li class="has-line-data" data-line-start="16" data-line-end="18">Student’s Performance</li>
</ul>
<p class="has-line-data" data-line-start="18" data-line-end="19">Also the Schools and Colleges have their own profile so they can:</p>
<ul>
<li class="has-line-data" data-line-start="19" data-line-end="20">post their notices</li>
<li class="has-line-data" data-line-start="20" data-line-end="21">photos of their schools programs like sports week, annual funcions and etc</li>
<li class="has-line-data" data-line-start="21" data-line-end="22">student can comment on those photos(posts) and all</li>
<li class="has-line-data" data-line-start="22" data-line-end="24">can also be made so that students from other schools or colleges can view, comments on posts.</li>
</ul>
<p class="has-line-data" data-line-start="24" data-line-end="26"><em>Also it can be the platform where students from different schools and colleges can meet, share knowledge, colab etc making this project highly extendable and scalable.</em><br>
<em>It can be made engaging.</em></p>
<h2 class="code-line" data-line-start=28 data-line-end=29><a id="How_to_Implemented_it_28"></a>How to Implemented it?</h2>
<p class="has-line-data" data-line-start="29" data-line-end="30">But for now, the project will be limited to checking due amount and student’s information.</p>
<p class="has-line-data" data-line-start="31" data-line-end="32"><a href="https://photos.app.goo.gl/Gfh9wvJ66WXcihUz9">Usecase Diagram</a></p>
<p class="has-line-data" data-line-start="33" data-line-end="34"><a href="https://photos.app.goo.gl/R9mTKTWDFuEiMqy98">ER Diagram</a></p>
<h3 class="code-line" data-line-start=36 data-line-end=37><a id="Level_of_Users_36"></a>Level of Users:</h3>
<ul>
<li class="has-line-data" data-line-start="37" data-line-end="38">Students</li>
<li class="has-line-data" data-line-start="38" data-line-end="39">Teachers / College Admin</li>
<li class="has-line-data" data-line-start="39" data-line-end="41">System (Sabaiko MIS) Admin</li>
</ul>
<p class="has-line-data" data-line-start="41" data-line-end="42">Here to use this platform the colleges will have to register themself in this platform and system admin will verify the college through manual process since system admin have to check if the college is genuine college or not.</p>
<p class="has-line-data" data-line-start="43" data-line-end="45">After the college is verified college will have email and password which is used as college admin. College Admin can perform action as shown in usecase diagram.<br>
Also the college admin will provide the student email and password to students for logging in the platform.</p>
{% endblock content %}
