{% extends 'dashboard.html'%}

{% block content %}
<h1>Welcome to admin panel of {{college}}</h1>
<hr>
<div class='admin_nav'>
<ul>
    <li class='nav_item'><a href="{% url 'student_list' %}">Students</a></li>
    <li class='nav_item'><a href="{% url 'course_amount' %}">Course Amount</a></li>
    <li class='nav_item'><a href="{% url 'amount' %}">Payment</a></li>
    <li class='nav_item'><a href="{% url 'pdf' %}">Payment Report</a></li>
    <li class='nav_item'><a id='upload_image' href="{% url 'upload_image' %}">Profile Picture</a></li>
    <li class='nav_item'><a href="{% url 'upload_notice' %}">Notice</a></li>
</ul>
</div>
<hr>
<p>{{image_obj}}</p>

</script>
{% endblock content %}
