{%extends 'base.html'%}
{% block title %}

{% endblock title %}

{% block navbar %}
{% include 'college_nav.html' %}
{% endblock navbar %}
{% block content %}

<h1>Welcome to {{college.fullname}}</h1>
<hr>

{%if image_obj%}
<div id='college_image'>
<img src="{{image_obj.image.url}}" alt="Profile Picture">
</div>
<hr>
{%endif%}
<h2>College Details</h2>
<table>
    <thead>
        <th>College Name</th>
        <th>Location</th>
        <th>Contact</th>
        <th>Email</th>
    </thead>
<tbody>
        <tr>
            <td>{{college.fullname}}</td>
            <td>{{college.location}}</td>
            <td>{{college.contact}}</td>
            <td>{{college.email}}</td>
            
        </tr>
</tbody>
</table>
<hr>

{%if notice_obj%}
<h2>Notices</h2>

{% for notice in notice_obj %}
    <b>{{notice.title}}</b>
    <p>{{notice.content}}</p>
{% endfor %}
<hr>
{%endif%}
{% endblock content %}
