{%extends 'home_base.html'%} 
{%block title%}
<title>College List</title>
{%endblock title%}

{% block content %}
<h1>Colleges in Sabaiko MIS</h1>
<hr>

<a href=""></a>
<div id="college_list">
<table>
    <thead>
        <th></th>
    </thead>
<tbody>
{% for college in colleges %}
        <tr>
            <td><a href="{% url 'college_home' college.pk college.fullname%}">{{college.fullname}}</a></td>
        </tr>
{%endfor%}
</tbody>
</table>
</div>
{% endblock content %}

