{% extends 'dashboard.html'%}
{%block navbar%}
{% include 'student_nav.html' %}
{%endblock navbar%}
{% block content %}
<h1>Due Amount</h1>
<hr>

<h2>Paid Amount:{{paid_amount}}</h2>
<h2>Due Amount:{{due_amount}}</h2>
<i>Try to clear it ASAP!!</i>
<br>

<i>If any doubt Please contact college</i>

{% endblock content %}
