{%extends 'base.html'%}

{%block title%}

{%if college%}
{% include 'dashboard_nav.html' %}
{%else%}
{% include 'navbar.html' %}
{%endif%}
{%endblock title%}



{% block content %}
<div id="form_body">
<div class="form-signin">
<form action="" method='POST' enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value='Submit'>
</form>
</div>
</div>
{% endblock content %}
