{% extends 'home_base.html' %}

{% block content %}
<h1>Welcome to Sabaiko MIS</h1>
<hr>
{%if image_obj%}
<div id='college_image'>
<img src="{{image_obj.image.url}}" alt="Profile Picture">
</div>
<hr>
{%endif%}
<p>
Sabaiko MIS is web platform where different schools or colleges can create MIS system for them and students can login to this platform and access the features of MIS system of their respective colleges like checking due amounts, whether his information is recorded correctly or not and etc.
</p>
{%if content_obj%}
<hr>
<b>{{content_obj.title}}</b>
<p>{{content_obj.content}}</p>
<hr>
{%endif%}
{% endblock content %}
