<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    @page{
    size:"A4";
    margin: 2.5cm 1.5cm 3.5cm 1.5cm;

    @top-center{
        content: 'Payment Report';
    }
    }
table, th, td {
  border: 1px solid;
  border-collapse: collapse;

}
table{
    margin: 0 3cm 0 3cm;
}
</style>
</head>
<body>
    <hr>
    
<table>
    <thead>
        <th>Name</th>
        <th>Paid Amount</th>
        <th>Due Amount</th>
    </thead>
<tbody>
    {%for student in students%}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.paid_amount}}</td>
        <td>{{student.due_amount}}</td>
    </tr>
    {%endfor%}
</tbody>
</table>

</body>
</html>
