{% extends 'home_base.html' %}
{% block content %}
<h2>Registration Successfull</h2>
<p>Our Team will verify your college and provide username and password to login to Sabaiko MIS.</p>
<p>Thank you</p>
{% endblock content %}
