{%extends 'dashboard.html'%}
{%block title%}
<title>Student List</title>
{%endblock title%}
{%block navbar%}
{%include 'dashboard_nav.html'%}
{%endblock navbar%}

{% block content %}
<hr>

<div class="admin_nav">
    <ul>
        <li class='nav_item'><a  id='add_student' href="{%url 'create_student'%}">Add Student</a></li>

<li class='nav_item'>
    <form id='search_form' action="{% url 'search' %}" method="POST">
    {%csrf_token%}
    <input type="text" name='roll_no' placeholder='search by roll number'>
    <input type="submit" value='Search'>
</form>
</li>

</ul>
</div>
<hr>

<table id='search_table'>
</table>

<div class='students'>
<table>
    <thead>
        <th>Roll Num</th>
        <th>FullName</th>
        <th></th>
        <th></th>
    </thead>
<tbody>
{% for student in students %}
        <tr id={{student.roll_no}}>
            <td>{{student.roll_no}}</td>
            <td>{{student.fullname}}</td>
            <td><button  type="button" class="btn btn-primary edit" id={{student.roll_no}}>Edit</button></td>
            <td><button  type='button' class='bth btn-primary delete' id={{student.roll_no}}>Delete</button></td>
        </tr>
{%endfor%}
</tbody>
</table>
</div>
<!-- Modal -->
<div class="modal fade" id="StudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<script>
//For displaying student addition form
$('#add_student').on('click',function(event){
    event.preventDefault();
    console.log('from addition');
    user = '{{request.user.username}}';
    password = '{{request.user.password}}';
    console.log(user,password);
    url = "{% url 'create_student'  %}";
    console.log(url)
        $.get(url, function(response){
            console.log('request successfull');
            $('#StudentModal').modal('show');
            $('.modal-body').empty().append(response);
            $('#ModalLabel').innerHTML='Add Student';

        })
})

// For adding student
$('.modal-body').on('submit','#create_student_form', function(event){
    event.preventDefault();
    url = "{% url 'create_student'%}";
    console.log(url)
    let formData = new FormData(this);
    //var data = JSON.stringify(Object.fromEntries(formData));
    let data = Object.fromEntries(formData);
    //console.log(data);
    $.ajax({
        url:url,
        data: data,
        method:"POST",
        success: function(response){
            console.log('After successful Update ajax call.')
            $('#StudentModal').modal('hide')

            //console.log(response)
            let instance = JSON.parse(response['instance']);
            let fullname = instance[0]['fields']['fullname'];
            let student_id = instance[0]['pk']
            console.log(student)
            console.log(instance)
            
            let edit = `<td><button id=${student_id} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>`
            let del = `<td><button id=${student_id} type="button" class='bth btn-primary delete'>Delete</button></td>`
            //console.log(response)

            let row = `<tr id='${student_id}'><td>`+student_id+'</td>'+'<td>'+fullname+'</td>'+edit+del+'</tr>';
            // first removing the old student and adding new student 
           // $('tbody').find(`#${student_id}`).remove()

            $('tbody').prepend(row);
            //$('tbody').prepend(row);

        }
    })      
})

//For displaying student update form
$('.students').on('click','.edit',function(event){
    event.preventDefault();
    console.log('from update');
    user = '{{request.user.username}}';
    password = '{{request.user.password}}';
    console.log(user,password);
    student_id = $(this).attr('id');
    url = "{% url 'update_student' 1234 %}".replace(1234,student_id);
    console.log(url);
    $.get(url, function(response){
            console.log('request successfull');
            $('#StudentModal').modal('show');
            $('.modal-body').empty().append(response);
            $('#ModalLabel').innerHTML='Update Student';

        })
})

// For updating student
$('.modal-body').on('submit','.update_student_form', function(event){
    event.preventDefault();
    student_id = $(this).attr('id');
    url = "{% url 'update_student' 1234 %}".replace(1234,student_id);
    console.log(url)
    let formData = new FormData(this);
    //var data = JSON.stringify(Object.fromEntries(formData));
    let data = Object.fromEntries(formData);
    console.log(data);
    $.ajax({
        url:url,
        data: data,
        method:"POST",
        success: function(response){
            console.log('After successful Update ajax call.')
            $('#StudentModal').modal('hide')

            //console.log(response)
            let instance = JSON.parse(response['instance']);
            let fullname = instance[0]['fields']['fullname'];
            let student_id = instance[0]['pk'];
            //console.log(instance);
            
            let edit = `<td><button id=${student_id} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>`
            let del = `<td><button id=${student_id} type="button" class='bth btn-primary delete'>Delete</button></td>`
            //console.log(response)

            let row = `<tr id='${student_id}'><td>`+student_id+'</td>'+'<td>'+fullname+'</td>'+edit+del+'</tr>';

           $('tbody').find(`#${student_id}`).remove()
            $('tbody').prepend(row);
            //$('tbody').prepend(row);

        }
    })      
})

$('tbody').on('click','.delete', function(event){

    console.log(this)
    student_id = $(this).attr('id')
    url = "{% url 'delete_student' 1234 %}".replace(1234,student_id),
    $.ajax({
        url:url,
        data: {
            csrfmiddlewaretoken: "{{csrf_token}}"
        },
        method:"POST",
        success: function(response){
            console.log('After successful Delete ajax call.')
            
            console.log(this)
            console.log(response)
            
            $('tbody').find(`#${student_id}`).remove()
            //$('tbody').prepend(row);

        }
    })      
})

// for search form
//$('#search_form').on('submit',function(event){
//    event.preventDefault();
//    url = "{% url 'search'%}";
//    console.log(url)
//    let formData = new FormData(this);
//    //var data = JSON.stringify(Object.fromEntries(formData));
//    let data = Object.fromEntries(formData);
//    console.log(data);
//    $.ajax({
//        url:url,
//        data: data,
//        method:"POST",
//        success: function(response){
//            console.log('After successful Update ajax call.')
//            $('#StudentModal').modal('hide')
//
//            //console.log(response)
//            let instance = JSON.parse(response['instance']);
//            let fullname = instance[0]['fields']['fullname'];
//            let student_id = instance[0]['pk']
//            console.log(fullname)
//            console.log(instance)
//            
//            let edit = `<td><button id=${student_id} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>`
//            let del = `<td><button id=${student_id} type="button" class='bth btn-primary delete'>Delete</button></td>`
//            //console.log(response)
//
//            let row = `<tbody id='search_tbody'><tr id='${student_id}'><td>`+student_id+'</td>'+'<td>'+fullname+'</td>'+edit+del+'</tr></tbody>';
//
//            let thead = "<thead id='search_head'><th>Roll Num</th><th>FullName</th><th></th><th></th></thead>"
//
//            $('#search_head').remove();
//            $('#search_tbody').remove();
//
//            $('#search_table').prepend(thead);
//            $('#search_table').prepend(row);
//            //$('tbody').prepend(row);
//
//        }
//    })      
//})
</script>
{% endblock content %}
{% block script%}
{% endblock script%}
