<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    @page{
    size:"A4";
    margin: 2.5cm 1.5cm 3.5cm 1.5cm;

    @top-center{
        content: 'Payment Report';
    }
    }
table, th, td {
  border: 1px solid;
  border-collapse: collapse;

}
table{
    margin: 0 0cm 0 2.5cm;
}
</style>
</head>
<body>
    <h2>{{name}}: Payment Report</h2>
    <hr>
<table>
    <thead>
        <th>Time</th>
        <th>Paid Amount</th>
        <th>Due Amount</th>
    </thead>
<tbody>
    {%for amount in amounts%}
    <tr>
        <td>{{amount.time}}</td>
        <td>{{amount.paid_amount}}</td>
        <td>{{amount.due_amount}}</td>
    </tr>
    {%endfor%}
</tbody>
</table>

</body>
</html>
