{% extends 'dashboard.html'%}
{%block navbar%}
{% include 'student_nav.html' %}
{%endblock navbar%}
{% block content %}
<h1>Welcome to MIS of {{college}}</h1>
<hr>


<div class='student_nav'>
<ul>
    <li class='nav_item'><a href="{% url 'student_detail' request.user.student_user.student.pk%}">My Detail</a></li>
    <li class='nav_item'><a href="{% url 'student_pdf'%}">Payment Report</a></li>
    <li class='nav_item'><a href="{% url 'due_amount'%}">Due Amount</a></li>
</ul>
<hr>

</div>

{% endblock content %}
