<form id='create_student_form' action="" method='POST'>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Save">
    <button type="button" id='student' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</form>
