{% extends 'dashboard.html'%}
{%block navbar%}
{% include 'student_nav.html' %}
{%endblock navbar%}
{% block content %}
<h1>Student Detail</h1>
<hr>
<b>Roll Number:{{student.roll_no}}</b>          
<br>
<b>Name:{{student.fullname}}</b> 
<br>
<b>Age:{{student.age}}</b> 
<br>
<b>Email:{{student.email}}</b> 
<br>
<b>Contact:{{student.contact}}</b> 
<br>
<b>Gender:{{student.gender}}</b>
<br>
<b>Father Name:{{student.father_name}}</b>
<br>
<b>Father Contact:{{student.father_contact}}</b>
<br>
<b>Mother Name:{{student.mother_name}}</b>
<br>
<b>Mother Contact:{{student.mother_contact}}</b>
<br>
<hr>

<i>If any mistakes Please contact college</i>


{% endblock content %}
