{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static "js/jquery.js" %}"></script>
    {%block title%}
    {%endblock title%}
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}
    <main class='content'>
    {% block content %}
    {% endblock content %}
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock script %}

</body>
</html>
