<header class="main-header">
		        <ul class="navigation">
                    <li class="nav_item"><a href="{% url 'home'  %}">Sabaiko MIS</a></li>
                    <li class="nav_item"><a href="{% url 'college_home' college.pk college.fullname %}">Home</a></li>
						<li class="nav_item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li class="nav_item"><a href="#">Contact Us</a></li>
						<li class="nav_item"><a href="#">About Us</a></li>
		        </ul>
</header>
