<header class="main-header">
		        <ul class="navigation">
		                <li class="nav_item"><a href="{% url 'home' %}">Sabaiko MIS</a></li>
		                <li class="nav_item"><a href="{% url 'college_list' %}">Colleges</a></li>
		                <li class="nav_item"><a href="{% url 'about_us' %}">About Us</a></li>
                        <li class="nav_item"><a href="{% url 'college_registration' %}">Register</a></li>
		        </ul>
</header>

